body{
    background-color: black;
  
}

#heroes{
    color:yellow;
    font-family: 'Bangers', cursive;
    font-size: 80px;
    text-align: center;
    animation-name : heroes;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    margin-top:0;
}
/* Formating the hero grid */
.container {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
}

.container > div {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
   
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}




  /* Animation of the hero grid */
  .down{
      animation-name: moveInDown;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
      
  }

  .up{
      animation-name: moveInUp;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
  }

  @keyframes moveInDown {
      0% {
          opacity: 0;
          transform: translateY(-100px);
      }
      80% {
          transform: translateY(50px);
          
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  @keyframes moveInUp{
      0% {
          opacity:0;
          transform: translateY(100px);
      }

      80% {
          transform: translateY(-50px);
      }
      
      100%{
          opacity: 1;
          transform: translateY(0);
      }
  }


  @keyframes heroes{
      0%{
          opacity:0;
          transform: translateX(-400px);
      }
      100%{
          opacity: 1;
          transform: translatex(0);
      }
  }


 
p:hover{
    background-color: yellow;
    margin: 0;
}
  

  .notactive{
      visibility: hidden;
      position: relative;
  }

  .active{
      position: absolute;
  }
  
.bane-background{
    background-color: red;
}

  .test{
    background-image:url("https://images.unsplash.com/photo-1508603081604-c654889cfea2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4913bd9dcfa4de6cf9e931e098d80515&auto=format&fit=crop&w=500&q=60");
  }