body{
    background-color: black;
}

#heroes{
    color:yellow;
    font-family: 'Bangers', cursive;
    font-size: 80px;
    text-align: center;
    animation-name : heroes;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    margin-top:0;
}
/* Formating the hero grid */
.container {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
}

.container > div {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
   
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.container > div > p {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover; 
    -webkit-box-shadow: 12px 8px 4px 3px rgba(185,255,46,0.99); 
box-shadow: 12px 8px 4px 3px rgba(185,255,46,0.99);
}



  /* Animation of the hero grid */
  .down{
      animation-name: moveInDown;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
      
  }

  .up{
      animation-name: moveInUp;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
  }

  @keyframes moveInDown {
      0% {
          opacity: 0;
          transform: translateY(-100px);
      }
      80% {
          transform: translateY(50px);
          
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  @keyframes moveInUp{
      0% {
          opacity:0;
          transform: translateY(100px);
      }

      80% {
          transform: translateY(-50px);
      }
      
      100%{
          opacity: 1;
          transform: translateY(0);
      }
  }


  @keyframes heroes{
      0%{
          opacity:0;
          transform: translateX(-400px);
      }
      100%{
          opacity: 1;
          transform: translatex(0);
      }
  }
 
  .question{
      color: white;
      visibility: visible;
      font-size: 16px;
  }

  .notactive{
      visibility: hidden;
      position: relative;
  }

  .active{
      position: absolute;
      
  }

  .notactive1{
    visibility: hidden;
    position: relative;
}

.active1{
    position: absolute;
    
}


.notactive2{
    visibility: hidden;
    position: relative;
}
.notactive3{
    visibility: hidden;
    position: relative;
}
 
.batman-text{
    color:red;
    background: yellow;
     
    
    text-align: justify;
}
.active1{
    position: absolute;
    
}
.active2{
    position: absolute;
    
}
.active3{
    position: absolute;
    
}



  

 

    
    

